node_modules/
client/node_modules/
server/node_modules/
client/dist/
server/dist/
dist/
**/.vite/
**/.cache/
.env
server/.env
client/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db